<html xmlns:th="http://thymeleaf.org">
<head>
    <title>Code</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<!--    <link th:href="@{/css/style.css}" rel="stylesheet"/>-->
    <link rel="stylesheet"
          href="//cdn.jsdelivr.net/gh/highlightjs/cdn-release@10.2.1/build/styles/default.min.css">
    <script src="//cdn.jsdelivr.net/gh/highlightjs/cdn-release@10.2.1/build/highlight.min.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>
</head>
<body>
<h1>В разработке :В</h1>
<!--    <h1>th:text="${title}</h1>-->
    <div style="display: flex">
<!--        <b>th:text="${wiki}</b>-->
<!--        <b>th:text="${language}</b>-->
    </div>
</body>
</html>